.footer {
    background-color: #000;
    color: #fff;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer a {
    color: #ffc107;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}
