/* Header.css */
.header {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a bottom shadow */
  }
  
  h1 {
    font-size: 2em;
  }
  